* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: clip;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  background-image: url(./img/lebron.jpg);
  background-size: cover;
  background-position: top right;
  width: 100vw;
  background-repeat: no-repeat;
}

/**************************/
/* navigation */
/**************************/

header {
  display: flex;
  width: 100vw;
}

.logo {
  padding-left: 10px;
}

.nav {
  display: flex;
  align-items: center;
  margin: 3rem auto;
  background-color: rgba(255, 255, 255, 0.361);
  padding: 20px 60px;
  border-radius: 50px;
  height: 70px;
}

.nav-list {
  display: flex;
  gap: 8rem;
  list-style-type: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-list li a {
  text-decoration: none;
  color: #333;
}

.nav-list li:hover {
  font-weight: bold;
  letter-spacing: -0.03rem;
}

.search-icon {
  font-size: 2.3rem;
  padding-top: 0;
}

.cart {
  display: flex;
}

.nav-icons {
  font-size: 2.8rem;
  display: flex;
  margin: 3rem 2%;
}

.list-menu {
  display: none;
}

.icon-mobile-open,
.icon-mobile-close {
  opacity: 0;
}

/**************************/
/* hero section */
/**************************/

.main {
  position: relative;
}

.hero-heading {
  font-size: 6.5rem;
  font-style: italic;
  font-weight: bold;
  margin: 30rem 0 0 10%;
}

.hero-text {
  font-size: 2rem;
  width: 15%;
  margin: 5rem 0 0 10%;
}

/**************************/
/* info section */
/**************************/

.infos {
  display: flex;
  margin: 8% 0 10rem 10%;
  color: #888;
}

.info-item {
  padding: 10px;
  font-size: 2.3rem;
}

.info-item.info-rating {
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

.infos-mobile {
  display: none;
}

/**************************/
/* basket section */
/**************************/

.basket {
  position: absolute;
  top: 100rem;
  right: 10rem;
  width: 18%;
}

.size-selector {
  font-size: 12px;
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  border-bottom: 1px #ddd solid;
}

.basket-box {
  display: flex;
  margin-top: 2rem;
}

.add-basket-button {
  width: 60%;
  background-color: #fff;
  border: none;
  padding: 15px auto;
  margin-right: 20px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0px 26px 35px -17px rgba(0, 0, 0, 0.6);
}

.add-basket-button:active {
  box-shadow: 0px 18px 28px -17px rgba(0, 0, 0, 0.6);
  transform: translateY(3px);
}

.price {
  font-size: 2.2rem;
  margin: 10px auto;
}

/* Select Size Drop Down */

.dropdown {
  width: 100%;
  height: 5rem;
  border-bottom: 1.5px #ddd solid;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
  width: 8px;
  height: 8px;
  border: 2px solid #333;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdown.active::before {
  top: 22px;
  transform: rotate(-225deg);
}

.dropdown input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 10px;
}

.dropdown .options {
  margin-top: 2rem;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  font-size: 1.5rem;
}

.dropdown.active .options {
  display: block;
}

.dropdown .options div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .options div:hover {
  background: #62baea;
  color: #fff;
}

.basket-mobile {
  display: none;
}
